In [1]:
import keras
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

Using TensorFlow backend.

In [2]:
test_df = pd.read_csv('./data/test.csv')
train_df = pd.read_csv('./data/train.csv')

In [3]:
test_df.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
test_df.describe()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,...,28000.000000,28000.000000,28000.000000,28000.000000,28000.000000,28000.0,28000.0,28000.0,28000.0,28000.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.164607,0.073214,0.028036,0.011250,0.006536,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.473293,3.616811,1.813602,1.205211,0.807475,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,253.000000,254.000000,193.000000,187.000000,119.000000,0.0,0.0,0.0,0.0,0.0

In [5]:
train_df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
standard_scaler = StandardScaler()

In [7]:
Y_train_df = train_df['label']
#Y_train_df = pd.get_dummies(Y_train_df).values
#Y_train_df = Y_train_df.values.reshape(-1, 1)
#Y_train_df = standard_scaler.fit_transform(Y_train_df)
#Y_train_df = keras.utils.np_utils.to_categorical(Y_train_df)
#Y_train_df = Y_train_df.reshape(-1, 10, 1)
Y_train_df.shape

(42000,)

In [8]:
X_train_df = train_df.drop(columns="label")
#X_train_df = standard_scaler.fit_transform(X_train_df)
#X_train_df = keras.utils.np_utils.to_categorical(X_train_df)
X_train_df.shape

(42000, 784)

In [17]:
np.random.seed(7)
# split into 67% for train and 33% for test
X_train, X_valid, y_train, y_valid = train_test_split(X_train_df, Y_train_df, test_size=0.15, random_state=7)

In [18]:
def create_model(train_data):
    # create model
    model = keras.models.Sequential()
    model.add(keras.layers.Dense(1000, input_dim=train_data.shape[1], activation='relu'))
  #  model.add(keras.layers.Dense(45, activation='relu'))
 #   model.add(keras.layers.Dense(32, activation='relu'))
 #   model.add(keras.layers.Dense(15, activation='relu'))
    model.add(keras.layers.Dense(10))
    model.add(keras.layers.Activation("softmax"))
    # Compile model
    model.compile(optimizer ='sgd', loss = 'sparse_categorical_crossentropy') 
#               metrics =[keras.metrics.mae])
    return model

In [19]:
model = create_model(X_train_df)

In [20]:
history = model.fit(X_train, y_train, validation_data=(X_valid,y_valid), epochs=20, batch_size=1000)

Train on 35700 samples, validate on 6300 samples
Epoch 1/20
35700/35700 [==============================] - 10s 274us/step - loss: 10.6789 - val_loss: 9.9717
Epoch 2/20
35700/35700 [==============================] - 11s 312us/step - loss: 9.9947 - val_loss: 9.9216
Epoch 3/20
35700/35700 [==============================] - 10s 266us/step - loss: 9.9124 - val_loss: 9.7929
Epoch 4/20
35700/35700 [==============================] - 11s 318us/step - loss: 9.8666 - val_loss: 9.7698
Epoch 5/20
35700/35700 [==============================] - 10s 278us/step - loss: 9.8138 - val_loss: 9.7477
Epoch 6/20
35700/35700 [==============================] - 9s 251us/step - loss: 9.8067 - val_loss: 9.7441
Epoch 7/20
35700/35700 [==============================] - 11s 309us/step - loss: 9.7979 - val_loss: 9.6955
Epoch 8/20
35700/35700 [==============================] - 10s 272us/step - loss: 9.7681 - val_loss: 9.6980
Epoch 9/20
35700/35700 [==============================] - 12s 326us/step - loss: 9.7634 - val_loss: 9.6916
Epoch 10/20
35700/35700 [==============================] - 10s 273us/step - loss: 9.7560 - val_loss: 9.6765
Epoch 11/20
35700/35700 [==============================] - 7s 188us/step - loss: 9.7364 - val_loss: 9.6841
Epoch 12/20
35700/35700 [==============================] - 6s 165us/step - loss: 9.7274 - val_loss: 9.6710
Epoch 13/20
35700/35700 [==============================] - 6s 167us/step - loss: 9.7290 - val_loss: 9.6686
Epoch 14/20
35700/35700 [==============================] - 6s 167us/step - loss: 9.7176 - val_loss: 9.6723
Epoch 15/20
35700/35700 [==============================] - 6s 161us/step - loss: 9.7155 - val_loss: 9.6804
Epoch 16/20
35700/35700 [==============================] - 6s 174us/step - loss: 9.6981 - val_loss: 9.6399
Epoch 17/20
35700/35700 [==============================] - 6s 170us/step - loss: 8.1951 - val_loss: 7.7963
Epoch 18/20
35700/35700 [==============================] - 7s 189us/step - loss: 6.7599 - val_loss: 9.0105
Epoch 19/20
35700/35700 [==============================] - 6s 181us/step - loss: 5.8931 - val_loss: 5.3690
Epoch 20/20
35700/35700 [==============================] - 6s 172us/step - loss: 5.3577 - val_loss: 5.4842

In [26]:
answer = model.predict(test_df)

In [28]:
answer = answer.astype(int)

In [31]:
y = np.argmax(answer, axis=-1)
y

array([2, 0, 4, ..., 3, 4, 2], dtype=int64)

In [32]:
frames_aswer = pd.DataFrame(y)

In [35]:
frames_aswer.index += 1
frames_aswer

       0
1      2
2      0
3      4
4      0
5      3
...   ..
27996  4
27997  7
27998  3
27999  4
28000  2

[28000 rows x 1 columns]

In [36]:
frames_aswer.to_csv('./data/answer.csv', index=True)